@page "/VideoChat"
@inherits VideoChatBase
@*Add a way for a user to reaquire a token*@

@if (CommunicationUser == null)
{
    <h4>Loading Azure Communication Services</h4>
}
else
{
    <h4>Azure Communication Services</h4>

    @if (!IsInitialized)
    {
        <button type="button" class="btn btn-primary" @onclick="InitializeCall">Initialize Call</button>
    }
    else
    {
        <p>
            <b>Created an identity with ID:</b>
            @CommunicationUser.Id
        </p>
        <p>
            <b>Expires On:</b>
            @ExpiresOn.DateTime.ToShortDateString()
            @ExpiresOn.DateTime.ToShortTimeString()
        </p>

        <input id="callee-id-input"
               type="text"
               placeholder="Who would you like to call?"
               style="margin-bottom:1em; width: 200px;" disabled="@true" 
               @ref=CalleeInput/>

        <div>
            <button id="call-button" type="button" disabled="@true" @ref=CallButton>
                start call
            </button>
            &nbsp;
            <button id="hang-up-button" type="button" disabled="@true" @ref=HangUpButton>
                hang up
            </button>
            &nbsp;
            <button id="start-Video" type="button" disabled="@true" @ref=StartVidButton>
                start video
            </button>
            &nbsp;
            <button id="stop-Video" type="button" disabled="@true" @ref=StopVidButton>
                stop video
            </button>
        </div>

        <div>Local Video</div>

        <div style="height:200px; width:300px; background-color:black; position:relative;">
            <div id="myVideo" @ref=MyVideo
                 style="background-color: black; position:absolute; top:50%; transform: translateY(-50%);">
            </div>
        </div>

        <div>Remote Video</div>

        <div style="height:200px; width:300px; background-color:black; position:relative;">
            <div id="remoteVideo" @ref=RemoteVideo
                 style="background-color: black; position:absolute; top:50%; transform: translateY(-50%);">
            </div>
        </div>
    }
}
